body {
   p {
      font: {
         size: 36px;
         family: 'TradeGothic';
         weight: 300;
      }
      color: red;
   }

   >div {
      margin: {

         left: 50px;
      }

      border: {
         left: {
            width: 3px;
            color: #fd3;
         }
      }

      &.box {
         color: #000;
      }

   }

}