@import url("https://fonts.googleapis.com/css?family=Architects+Daughter|Bubblegum+Sans|Fredericka+the+Great|Saira+Extra+Condensed|Shadows+Into+Light|Shadows+Into+Light+Two");
@import url("http://fonts.googleapis.com/earlyaccess/nanumgothic.css");
@import url("http://fonts.googleapis.com/earlyaccess/jejugothic.css");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR");
@import url("https://fonts.googleapis.com/css?family=Kaushan+Script|Noto+Sans+KR");
body {
  background-image: url("http://cadvance.org/Mayan_symbol.svg");
  background-position: left top;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Noto Sans KR";
  scroll-behavior: smooth;
  font-size: 14px;
  background-color: #fafafa;
}

/* SASS style sheet */
a.btn.btn-default {
  padding: 3px 6px;
  font-weight: normal;
}

.archive-description > p {
  background-color: transparent;
}

a,
.well a {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 14px;
}

a:link,
.well a:link {
  text-decoration: none;
  color: #1990df;
}

a:visited,
.well a:visited {
  color: #c549f7e3;
}

a:hover,
.well a:hover {
  color: #DA4453;
  text-decoration: underline;
}

div#logo > h1.site-name > a.navbar-brand {
  text-shadow: 1px 1px 12px #DA4453;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "jeju gothic";
  color: #333333;
}

h1,
.h1, h1.entry-title {
  font-size: 24px;
  font-weight: 700;
}

h2,
.h2 {
  font-size: 21px;
  font-weight: 600;
}

h2.entry-title {
  font-size: 21px;
  font-weight: 500;
  margin-bottom: 15px;
}

h3,
.h3 {
  font-size: 18px;
  font-weight: 600;
}

h4,
.h4 {
  font-size: 16px;
  font-weight: 500;
  margin-top: 15px;
}

h5,
.h5 {
  font-size: 14px;
}

h6,
.h6 {
  font-size: 14px;
}

.clearfix {
  clear: both;
}

/**
 * sass
 * */
body > p {
  color: #333;
}

ul > li,
ol > li {
  font-size: 14px;
  color: #704216;
  margin-top: 5px;
}

p {
  font-family: "Noto Sans KR";
  background-color: #fafafa;
  font-size: 14px;
  font-weight: 100;
  color: #333333;
}

div.lesson img {
  margin: 16px 0;
}

div.lesson pre {
  font-family: "Noto Sans KR", sans-serif;
  color: #c47806;
}

.imgSmall {
  width: 100px;
}

.img200 {
  width: 200px;
}

.img300 {
  width: 300px;
}

.img400 {
  width: 400px;
}

.img500 {
  width: 500px;
}

.imgBig {
  width: 100%;
}

.floatLeft {
  float: left;
}

.floatRight {
  float: right;
}

p.example {
  background-color: #d8d6603d;
  border: 1px solid #d1be109a;
  padding: 5px;
  margin: 25px 10px;
  border-width: 1px 0;
}

span.warnSign {
  font-weight: bold;
  -webkit-animation: warnSign 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
          animation: warnSign 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
}

@-webkit-keyframes warnSign {
  from {
    color: #ffffff;
  }
  to {
    color: #DA4453;
  }
}

@keyframes warnSign {
  from {
    color: #ffffff;
  }
  to {
    color: #DA4453;
  }
}

.tablesorter {
  font-family: "Noto Sans KR";
  font-size: 14px;
  overflow: hidden;
}

.tablesorter tr:nth-of-type(even):not(thead) {
  background-color: #efefef;
}

.tablesorter thead {
  background-color: #e1e1e1;
  border-top: 1px solid #704216;
}

h1 {
  font-weight: -92;
  margin-left: 0.5em;
  border-left: 7px dotted #c2c2c2;
  padding-left: 3px;
  margin-bottom: 0;
  background-color: #ff4500;
}

h1 ~ p {
  padding-left: 1em;
  margin-bottom: 10px;
}

h2 {
  font-weight: -192;
  margin-left: 1em;
  border-left: 6px dotted #c2c2c2;
  padding-left: 3px;
  margin-bottom: 0;
  background-color: #ff4500;
}

h2 ~ p {
  padding-left: 2em;
  margin-bottom: 10px;
}

h3 {
  font-weight: -292;
  margin-left: 1.5em;
  border-left: 5px dotted #c2c2c2;
  padding-left: 3px;
  margin-bottom: 0;
  background-color: #ff4500;
}

h3 ~ p {
  padding-left: 3em;
  margin-bottom: 10px;
}

h4 {
  font-weight: -392;
  margin-left: 2em;
  border-left: 4px dotted #c2c2c2;
  padding-left: 3px;
  margin-bottom: 0;
  background-color: #ff4500;
}

h4 ~ p {
  padding-left: 4em;
  margin-bottom: 10px;
}

h5 {
  font-weight: -492;
  margin-left: 2.5em;
  border-left: 3px dotted #c2c2c2;
  padding-left: 3px;
  margin-bottom: 0;
  background-color: #ff4500;
}

h5 ~ p {
  padding-left: 5em;
  margin-bottom: 10px;
}

h6 {
  font-weight: -592;
  margin-left: 3em;
  border-left: 2px dotted #c2c2c2;
  padding-left: 3px;
  margin-bottom: 0;
  background-color: #ff4500;
}

h6 ~ p {
  padding-left: 6em;
  margin-bottom: 10px;
}

.settings {
  border-left: 2px solid #067a37;
  padding-left: 3px;
  background-color: rgba(17, 199, 62, 0.267);
  display: block;
  padding: 3px;
  line-height: 1.6;
  font-weight: 600;
  letter-spacing: 1px;
  color: #6e430a;
  font-family: monospace;
}

p + ul {
  margin-left: 30px;
}

code {
  font-weight: 600;
  letter-spacing: 1px;
}

li li {
  color: #333;
}

section {
  background-color: #fff;
}
