@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,200,300,400,500,700,800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Serif+KR:100,200,300,400,500,700,800&display=swap");
$sans: 'Noto sans KR', sans-serif;
$serif: 'Noto Serif KR', serif;
body {
    font-family: $sans;
}

.para>p:nth-of-type(8n+5) {
    color:red;
}